:root {
	--sidebar-color: #17252a;
	--border-color: #2b7a78;
	--backDark-color: #3aafa9;
	--backLight-color: #def2f1;
	--text-color: #d1e8e2;
}

.get{
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.get2{
        background-color :var(--sidebar-color);
        color:var(--text-color);
        border-radius: 14px;
        padding: 50px;
}
     
.ma{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.get3{
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.ma2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.get4{
    background-color :var(--sidebar-color);
    color:var(--text-color);
    border-radius: 14px;
    padding: 50px;
   }

